# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE
.vscode/

# Coverage
coverage/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Kubernetes secrets
k8s/backend/secret.yaml
k8s/postgres/secret.yaml
k8s/cert-manager/clusterissuer.yaml